<!DOCTYPE html>
<html>

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">


  {% if title %}
  <title>Flavor Personal Blog - {{ title }}</title>
  {% else %}
  <title>Flavor Personal Blog</title>
  {% endif %}
</head>
<nav class="navbar navbar-expand-lg navbar-dark fixed-top py-3" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="{{ url_for('index') }}">PERSONAL BLOG</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
      data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
      aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto my-2 my-lg-0">
        {% if current_user.is_authenticated %}
        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{{ url_for('product') }}">View Our Blogs</a></li>
        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{{ url_for('new_post') }}">Start Your Blog</a></li>
        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{{ url_for('account') }}">Account</a></li>
        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{{ url_for('logout') }}">Logout</a></li>
        {% else %}
        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{{ url_for('login') }}">Login</a></li>
        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{{ url_for('register') }}">Register</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>

<body>
<!-- Masthead-->
<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center justify-content-center text-center">
      <div class="col-lg-10 align-self-end">
        <h1 class="text-uppercase text-white font-weight-bold">Your Favorite Personal Blog</h1>
        <hr class="divider my-4" />
      </div>
      <div class="col-lg-8 align-self-baseline">
        <p class="text-white-75 font-weight-light mb-5">The best personal websites serve as a calling card, contact
          point,
          and representation of what you stand for. It’s also a place where anyone can go to learn more about you and
          what
          you bring to the table.</p>
        <a class="btn btn-primary btn-xl js-scroll-trigger" href="{{ url_for('product') }}">START BLOGGING</a>
      </div>
    </div>
  </div>
</header>
<!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>